@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Informações de privacidade da página.</p>
<p>Autor: Renato Ramos e Ramos</p>
<p>Telefone: (48) 9 9162-0107</p>
<p>E-mail: @ViewData["email"]</p>
